.project {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectItem {
    display: flex;
    align-items: center;
}

.image {
    height: 200px;
    width: 200px;
    border: 1px solid white;
    position: relative;
    left: 18%;
    }

.button {
    position: relative;
    right: 32%;

}

.projectTitle {
    font-family: "Exo 2";
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 20px;
}

.projectDescription {
    display: flex;
    align-items: center;
    font-family: "Exo 2";
    line-height: 1.2;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 15px;
}


@media screen and (max-width: 380px ) {
    .project {
        width: 100%;
    }
    .image {
        height: 150px;
        width: 150px;
        left: 22%;
    }
    .button {
        right: 28%;
    }
}