.skills {
    min-height: 100vh;
    background-color: #29292a;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.MySkills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1132px ) {
    .MySkills {
        flex-direction: column;
        align-items: center;
    }
}