.skill {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skillItem {
    display: flex;
    align-items: center;
}

.title {
    font-family: "Exo 2";
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 20px;


}

.skillDescription {
    display: flex;
    align-items: center;
    font-family: "Exo 2";
    line-height: 1.2;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 15px;
}

.image {
    height: 200px;
    width: 200px;

}

@media screen and (max-width: 380px ) {
    .skill {
        width: 100%;
    }
    .image {
        height: 150px;
        width: 150px;
    }
}